/* Coolors Exported Palette - https://coolors.co/5a6c86-5a80a9-596173-e5e6e9-789ac1 */

/* CSS HEX */
--dark-electric-blue: #5A6C86ff;
--glaucous: #5A80A9ff;
--black-coral: #596173ff;
--platinum: #E5E6E9ff;
--cerulean-frost: #789AC1ff;

/* CSS HSL */
--dark-electric-blue: hsla(215, 20%, 44%, 1);
--glaucous: hsla(211, 31%, 51%, 1);
--black-coral: hsla(222, 13%, 40%, 1);
--platinum: hsla(225, 8%, 91%, 1);
--cerulean-frost: hsla(212, 37%, 61%, 1);

/* SCSS HEX */
$dark-electric-blue: #5A6C86ff;
$glaucous: #5A80A9ff;
$black-coral: #596173ff;
$platinum: #E5E6E9ff;
$cerulean-frost: #789AC1ff;

/* SCSS HSL */
$dark-electric-blue: hsla(215, 20%, 44%, 1);
$glaucous: hsla(211, 31%, 51%, 1);
$black-coral: hsla(222, 13%, 40%, 1);
$platinum: hsla(225, 8%, 91%, 1);
$cerulean-frost: hsla(212, 37%, 61%, 1);

/* SCSS RGB */
$dark-electric-blue: rgba(90, 108, 134, 1);
$glaucous: rgba(90, 128, 169, 1);
$black-coral: rgba(89, 97, 115, 1);
$platinum: rgba(229, 230, 233, 1);
$cerulean-frost: rgba(120, 154, 193, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #5A6C86ff, #5A80A9ff, #596173ff, #E5E6E9ff, #789AC1ff);
$gradient-right: linear-gradient(90deg, #5A6C86ff, #5A80A9ff, #596173ff, #E5E6E9ff, #789AC1ff);
$gradient-bottom: linear-gradient(180deg, #5A6C86ff, #5A80A9ff, #596173ff, #E5E6E9ff, #789AC1ff);
$gradient-left: linear-gradient(270deg, #5A6C86ff, #5A80A9ff, #596173ff, #E5E6E9ff, #789AC1ff);
$gradient-top-right: linear-gradient(45deg, #5A6C86ff, #5A80A9ff, #596173ff, #E5E6E9ff, #789AC1ff);
$gradient-bottom-right: linear-gradient(135deg, #5A6C86ff, #5A80A9ff, #596173ff, #E5E6E9ff, #789AC1ff);
$gradient-top-left: linear-gradient(225deg, #5A6C86ff, #5A80A9ff, #596173ff, #E5E6E9ff, #789AC1ff);
$gradient-bottom-left: linear-gradient(315deg, #5A6C86ff, #5A80A9ff, #596173ff, #E5E6E9ff, #789AC1ff);
$gradient-radial: radial-gradient(#5A6C86ff, #5A80A9ff, #596173ff, #E5E6E9ff, #789AC1ff);